<div class="list">
    <div class="filters bg-light-gray">
        <span class="fs-large bold padding-10"><i class="fa fa-filter"></i>Filtros</span>
        
        <label>Nombre</label>
        <input type="text" ng-model="q.name" name="" ng-change="filterData()">

        <label>Dirección</label>
        <input type="text"  ng-model="q.adress" name="" ng-change="filterData()">
    </div>
</div>

<div class="table font-small margin-top-20">

    <div class="row bold">
        <div class="cell" ng-repeat="(key, value) in columnsConfig" ng-click="sortBy(key)">
            {{key}} 
            <i ng-if="value.isSortable"  ng-class="(reverse)?'fa fa-angle-up':'fa fa-angle-down'" class="pull-right icon"></i>
        </div>
        <div class="cell"></div>
    </div>

    <div class="row" ng-repeat="content in filteredData | orderBy:propertyName:reverse | startFrom:currentPage*pageSize | limitTo:pageSize">
        <div class="cell" ng-repeat="col in columnsConfig">{{content[col.propertyName]}}</div>
        <div class="cell action-buttons">
            <button class="bg-blue" ng-click="updateItem(content.id)"><i class="fa fa-trash white"></i></button>
            <button class="bg-red" ng-click="deleteItem(content.id)"><i class="fa fa-pencil white"></i></button>
        </div>
    </div>
</div>

<div class="paginator pull-right margin-top-10" ng-show="totalPages > 1">
    <div ng-click="changePage(0)" ng-disabled="currentPage==0"><i class="fa fa-angle-double-left"></i></div>

    <div ng-click="changePage($index)" ng-class="{'active':currentPage==$index}" ng-repeat="page in createSimpleArray(totalPages) track by $index" ng-hide="hidePaginatorButton($index)">{{$index+1}}</div>

    <div ng-click="changePage(totalPages-1)" ng-disabled="currentPage==totalPages-1"><i class="fa fa-angle-double-right"></i></div>
</div>